* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #001e4d;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  background: #fff;
  width: 700px;
  border-radius: 10px;
  padding: 30px;
  border: 10px solid #5c97d1;
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-top: 5px;
}

.app span {
  color: #808080;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

.multiple-choices {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.multiple-choices img {
  width: 300px;
  transform: translateX(-30px);
}

.btn {
  transform: translateX(-20px);
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background-color: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

#next-btn {
  background-color: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct {
  background-color: #9aeabc;
}

.incorrect {
  background-color: #ff9393;
}

canvas {
  display: none;
}

.web-cam-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto 0;
  /* display: none; */
}

.web-cam {
  max-width: 400px;
}

.capture button {
  border-radius: 20px;
  padding: 8px 20px;
  background-color: #25c7d5;
  border: 0px;
}
