@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");

body {
  background-color: #94dcea;
  font-family: "Play", sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 32px;
}

.container {
  max-width: 60%;
}

form {
  padding: 20px;
  background-color: #ffce66;
  border-radius: 20px;

  .logo {
    max-width: 140px;
    margin-bottom: 20px;
  }

  h3 {
    font-family: "Slackey", sans-serif;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 20px;
  }

  .reminder {
    margin-bottom: 5px;
    font-size: 13px;
  }

  .input-control {
    margin-bottom: 15px;
  }

  input:not([type="radio"]) {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 0;
  }

  .submit-btn {
    .loading {
      display: none;
      padding: 10px;
      text-align: center;
    }

    input[type="submit"] {
      cursor: pointer;
      width: 100%;
      background: none;
      color: inherit;
      border: none;
      padding: 10px;
      font: inherit;
      outline: inherit;
    }

    width: 30%;
    background-color: #ff8800;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    transition: all 1s;

    &:hover {
      transition: all 0.5s;
      background-color: #fba646;
    }
  }

  input[type="radio"] {
    appearance: none;
  }

  input[type="radio"]:checked + label {
    border: 5px solid rgb(189, 0, 222);
    transition: all 0.2s ease-in;
  }

  .icon {
    transition: all 0.4s;
    margin: 0;
    padding: 0;
    border: 1px solid;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: #94dcea;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
  }
}

/* Style for Form Validation */
.input-control.success input {
  border: 2px solid;
  border-color: #09c372;
}

.input-control.error input {
  border: 2px solid;
  border-color: #f50233;
}

.input-control .error.active {
  color: #f50233;
  font-size: 15px;
  height: 12px;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  body {
    padding: 10px 0;
  }
  .container {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .input-control .error.active {
    margin-bottom: 30px;
  }

  div.input-control:nth-of-type(6) {
    margin-top: 30px;
  }
}

@media (max-width: 320px) {
  form .submit-btn {
    width: 50%;
  }
}
