@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
html {
  width: 100%;
}

body {
  min-width: 100%;
  margin: 0;
  background-color: #fbf0d9;
  font-family: "Play", sans-serif;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

nav {
  background-color: #ffb134;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure nav takes full width of its container */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}
nav .logo {
  margin-left: 20px;
}
nav img.full-logo {
  max-width: 200px;
}
nav img.short-logo {
  display: none;
}
nav .game-page {
  display: flex;
  margin-right: 20px;
}
nav .game-page img {
  width: 75px;
  transform: translateX(30px);
}
nav .game-page h4 {
  padding: 10px 30px;
  background-color: #05273d;
  border-radius: 20px;
  transition: all 1s;
  color: white;
}
nav .game-page h4:hover {
  background-color: rgb(13, 87, 135);
  transition: all 1s;
}

.user-profile {
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
  padding: 20px;
}

header .welcome-text {
  font-family: "Slackey", sans-serif;
}
header .user-information {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}
header .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .left h5 {
  margin-top: 5px;
}
header .user-icon {
  min-height: 150px;
  min-width: 150px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  background: #f3cc17;
}
header .user-icon img {
  width: 150px;
  transition: all 2s;
  transform: translateY(10px);
}
header .user-icon:hover img {
  transform: scale(1.3);
  transition: all 2s;
}
header .trackers {
  display: flex;
  flex-direction: row;
  gap: 40px;
  flex-wrap: wrap;
  margin-left: 70px;
}
header .trackers .tracker {
  max-width: 130px;
  background-color: #f3cc17;
  padding: 10px 20px 10px 30px;
  border-radius: 5px;
  position: relative;
  box-shadow: 10px 15px 11px -16px rgba(21, 21, 21, 0.158);
}
header .trackers img {
  width: 60px;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.272));
  position: absolute;
  top: -20px;
  left: -30px;
}

.tabs {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.tabs .tab {
  padding: 7px 20px;
  border-radius: 20px;
  background-color: #fbf5f2;
  box-shadow: 10px 15px 11px -16px rgba(21, 21, 21, 0.158);
  display: flex;
  flex-wrap: wrap;
}
.tabs .tab.active {
  background-color: #f3cc17;
}
.tabs .tab i {
  margin-right: 5px;
}

.tab-content {
  margin-top: 25px;
}

.bookmarks {
  display: flex;
  flex-wrap: wrap;
}
.bookmarks .bookmark {
  width: 150px;
  height: 150px;
  background-color: #109795;
  margin-top: 20px;
  margin-right: 35px;
  position: relative;
  padding: 20px;
  border-radius: 20px;
  transition: all 1s;
}
.bookmarks .bookmark:hover {
  transform: scale(1.1);
  transition: all 1s;
}
.bookmarks .bookmark:hover img {
  transform: scale(1.5);
  transition: all 1s;
}
.bookmarks .bookmark img {
  width: 150px;
  transition: all 1s;
}
.bookmarks .bookmark i {
  position: absolute;
  font-size: 25px;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.ranking {
  background: rgba(252, 253, 253, 0.688);
  width: 32rem;
  border: 2px solid black;
  height: 100%;
  padding: 5px 20px 5px 40px;
}
.ranking h3 {
  font-size: 25px;
  text-align: center;
}
.ranking .user-icon {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 2px solid black;
  overflow: hidden;
  background: #f3cc17;
}
.ranking .user-icon img {
  width: 70px;
}
.ranking p {
  margin: 0px;
}
.ranking .rank-info {
  margin-top: 10px;
}
.ranking .rank-info p {
  text-align: center;
}
.ranking .rank-info .name {
  font-weight: bold;
}
.ranking .rank-info .username {
  font-size: 12px;
  color: grey;
}
.ranking .upper-list {
  display: flex;
  gap: 50px;
  justify-content: center;
}
.ranking .upper-list .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.ranking .upper-list .user .medal {
  position: absolute;
  top: -10px;
  right: 50px;
}
.ranking .upper-list .user .medal img {
  width: 100px;
  filter: drop-shadow(0 0 0.6rem rgba(0, 0, 0, 0.447));
}
.ranking .upper-list [data-rank="1"] {
  order: 1;
}
.ranking .upper-list [data-rank="1"] .user-icon {
  height: 100px;
  width: 100px;
}
.ranking .upper-list [data-rank="1"] .user-icon img {
  width: 100px;
}
.ranking .upper-list [data-rank="2"] {
  order: 0;
}
.ranking .upper-list [data-rank="2"] .user-icon {
  background: #c1c2c2;
}
.ranking .upper-list [data-rank="2"] .medal {
  right: 40px;
}
.ranking .upper-list [data-rank="2"] .medal img {
  width: 80px;
}
.ranking .upper-list [data-rank="3"] {
  order: 2;
}
.ranking .upper-list [data-rank="3"] .user-icon {
  background: #c79154;
}
.ranking .upper-list [data-rank="3"] .medal img {
  width: 80px;
  transform: translateX(10px);
}
.ranking .down-list {
  margin-top: 20px;
}
.ranking .down-list .user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}
.ranking .down-list .user-icon {
  background-color: #f2fdfd;
}
.ranking .down-list .rank-user {
  display: flex;
  gap: 20px;
}
.ranking .down-list .rank-info {
  display: flex;
}
.ranking .down-list .rank-info .user-info {
  min-width: 150px;
}
.ranking .down-list .rank-info p {
  text-align: left;
}

.friends {
  display: none;
}
.friends form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.friends form input[type=text] {
  font-family: "Play", sans-serif;
  padding: 7px 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid black;
}
.friends form input[type=submit] {
  font-family: "Play", sans-serif;
  padding: 4px 13px;
  border-radius: 20px;
  border: 0px;
  background-color: #f3cc17;
}

.received-requests .request,
.sent-requests .request {
  background: rgba(252, 253, 253, 0.688);
  display: flex;
  margin-bottom: 5px;
  gap: 30px;
  border: 1px solid rgba(128, 128, 128, 0.4);
  padding: 10px 20px;
  max-width: 85%;
  flex-wrap: wrap;
}
.received-requests .request .user-icon,
.sent-requests .request .user-icon {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: #f2fdfd;
  border: 2px solid black;
  overflow: hidden;
}
.received-requests .request .user-icon img,
.sent-requests .request .user-icon img {
  width: 80px;
}
.received-requests .request .user-info,
.sent-requests .request .user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.received-requests .request .buttons,
.sent-requests .request .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.received-requests .request .buttons button,
.sent-requests .request .buttons button {
  font-family: "Play", sans-serif;
  padding: 5px 20px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
}
.received-requests .request .buttons button.accept,
.sent-requests .request .buttons button.accept {
  margin-right: 8px;
  background-color: rgb(51, 215, 161);
  transition: all 1s;
}
.received-requests .request .buttons button.accept:hover,
.sent-requests .request .buttons button.accept:hover {
  background-color: rgb(41, 168, 125);
  transition: all 1s;
}
.received-requests .request .buttons button.reject,
.sent-requests .request .buttons button.reject {
  background-color: rgb(255, 173, 173);
  transition: all 1s;
}
.received-requests .request .buttons button.reject:hover,
.sent-requests .request .buttons button.reject:hover {
  background-color: rgb(248, 121, 121);
  transition: all 1s;
}

.sent-requests .request {
  display: flex;
  align-items: center;
}
.sent-requests .status {
  margin-left: 10px;
}
.sent-requests .status .pending {
  background-color: rgba(184, 184, 184, 0.5215686275);
}
.sent-requests .status .rejected {
  background-color: rgba(254, 133, 133, 0.5215686275);
}
.sent-requests .status p {
  margin: 0;
  padding: 5px 20px;
  border-radius: 10px;
}

@media (max-width: 1016px) {
  .user-information {
    flex-direction: column;
  }
  .user-information .trackers {
    margin-left: 0;
  }
}
@media (max-width: 922px) {
  .user-information {
    flex-direction: row;
  }
  .user-information .trackers {
    margin-left: 50px;
  }
  .user-profile {
    display: block;
    margin: 5px 40px;
    padding: 0;
  }
  .ranking {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 725px) {
  .ranking {
    width: 23rem;
  }
  .ranking .upper-list {
    transform: translateX(-30px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .ranking .upper-list [data-rank="1"] {
    order: 0;
  }
  .ranking .upper-list [data-rank="2"] {
    order: 1;
  }
  .ranking .upper-list [data-rank="3"] {
    order: 2;
  }
  .ranking .upper-list [data-rank="3"] .medal img {
    width: 80px;
    transform: translateX(0px);
  }
  .ranking .upper-list .user {
    display: flex;
    flex-direction: row;
  }
  .ranking .upper-list .user .user-icon {
    width: 70px;
    height: 70px;
  }
  .ranking .upper-list .user .user-icon img {
    width: 70px;
  }
  .ranking .upper-list .user .medal {
    position: static;
  }
  .ranking .upper-list .user .medal img {
    width: 70px;
  }
  .ranking .upper-list .user .rank-info {
    display: flex;
    margin-left: 10px;
  }
  .ranking .upper-list .user .rank-info p {
    text-align: left;
  }
  .ranking .upper-list .user .rank-info .user-info {
    min-width: 145px;
  }
  .ranking .upper-list .rank-user {
    display: flex;
  }
}
@media (max-width: 503px) {
  .rank-info {
    flex-direction: column;
  }
  .ranking {
    padding: 5px 0px 5px 40px;
  }
}
@media (max-width: 472px) {
  .user-information {
    flex-wrap: wrap;
    gap: 20px;
  }
  .user-information .trackers {
    margin-left: 20px;
  }
  .tabs span {
    display: none;
  }
  .ranking {
    width: 20rem;
    padding: 5px 0px 5px 30px;
  }
}
@media (max-width: 437px) {
  nav img.full-logo {
    display: none;
  }
  nav img.short-logo {
    display: inline;
    width: 60px;
  }
  nav .game-page img {
    display: none;
  }
  nav .game-page h4 {
    font-size: 10px;
    padding: 5px 15px;
  }
  .user-profile {
    margin: 5px 30px;
  }
  .ranking {
    width: 15rem;
  }
}
@media (max-width: 310px) {
  .ranking {
    transform: scale(0.8) translateX(-20px);
  }
}
@media (max-width: 288px) {
  .tabs {
    flex-wrap: wrap;
  }
  .ranking {
    transform: scale(0.6) translateX(-90px) translateY(-190px);
  }
}
@media (max-width: 221px) {
  header h2 {
    font-size: 20px;
  }
  header .user-icon {
    min-height: 80px;
    min-width: 80px;
    margin-right: 0px;
  }
  header .user-icon img {
    width: 80px;
  }
}/*# sourceMappingURL=profile.css.map */