@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
$colorBeige: #fbf1da;
$colorPink: #dd9ec1;
$colorLightBlue: #b2d8fe;
$colorBlue: #25c7d5;
$colorRed: #ef004c;
$colorCoreYellow: #f3cc17;
$colorHoverYellow: #ffdf51;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "Play", sans-serif;
  background-color: $colorLightBlue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.preload {
  display: block;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 3;
  background-color: $colorBeige;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  // transition: all 1s ease;
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  .preload-image {
    display: flex;
    gap: 20px;
  }

  img {
    max-width: 40px;
    animation: bounces 1s ease infinite alternate;
  }

  img:nth-child(2) {
    animation-delay: 0.2s;
  }

  img:nth-child(3) {
    animation-delay: 0.5s;
  }

  .preload-text {
    display: flex;
    font-family: "Slackey", sans-serif;
    font-size: 25px;
    margin: 20px;
    text-align: center;

    span {
      animation: waviy 1s infinite;
    }

    span:nth-child(2) {
      animation-delay: 0.2s;
    }

    span:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

.preload-finish {
  // opacity: 0;
  // pointer-events: none;
  transform: translateY(-100%);
}

@keyframes bounces {
  from {
    transform: translateY(-40px);
  }
  to {
    transform: translateY(0px) scaleX(1.3);
  }
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
}

.app {
  position: relative;
  background: #fff;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  padding: 30px;
  border: 10px solid #5c97d1;
}

.app.predicting,
.app.feedbacked {
  filter: brightness(0.5);
}

.app h1 {
  font-size: 25px;
  color: #001e4d;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-top: 5px;
}

.app span {
  color: #808080;
}

.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #001e4d;
  font-weight: 600;
}

.multiple-choices {
  margin-top: 20px;
}

.multiple-choices img {
  max-width: 270px;
  width: 100%;
}

.btn {
  background-color: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover:not([disabled]) {
  background-color: #222;
  color: #fff;
}

.btn:disabled {
  cursor: no-drop;
}

.next-btn,
.back-btn {
  background-color: #001e4d;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.buttons {
  display: flex;
  justify-content: flex-start;

  button {
    margin: 10px;
  }
}

.correct {
  background-color: #9aeabc;
}

.incorrect {
  background-color: #ff9393;
}

canvas {
  display: none;
}

.web-cam-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px auto 0;
}

.web-cam {
  width: 80%;
  max-width: 500px;
}

.capture button {
  border-radius: 20px;
  padding: 8px 20px;
  background-color: #25c7d5;
  border: 0px;
  cursor: pointer;
}

.modal {
  position: absolute;
  // width: 250px;
  // height: 150px;
  width: 50%;
  max-width: 250px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 5px solid #014487;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $colorBeige;
  box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.29);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0, 0, 0, 0.29);
  font-family: "Slackey", sans-serif;
}

.detect-load {
  .detect-load-text {
    display: flex;
    font-family: "Slackey", sans-serif;
    span {
      animation: waviy 1s infinite;
    }

    span:nth-child(2) {
      animation-delay: 0.2s;
    }

    span:nth-child(3) {
      animation-delay: 0.4s;
    }
  }

  .detect-load-image {
    position: relative;
    margin: 0 auto;

    .magnifier {
      position: absolute;
      left: 10px;
      max-width: 70px;
      width: 70%;
      animation: magnifierMove 3s linear infinite alternate;
    }

    .character {
      width: 60%;
      max-width: 60px;
      transform: translateX(10px);
    }
  }
}

.detect-feedback {
  max-width: 300px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 50%;

  .top {
    position: absolute;
    top: -90px;

    img {
      max-width: 100px;
    }
  }

  .body {
    h5 {
      text-align: center;
      font-size: 20px;
    }
    img {
      max-width: 130px;
    }
  }
}

.error.modal {
  width: 50%;
  margin: 0 auto;
  padding: 100px 50px;
  font-family: "Play", sans-serif;
  gap: 10px;
  .modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: larger;
    color: red;
    text-align: center;
  }

  img {
    width: 150px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.75rem rgba(166, 166, 166, 0.437));
  }

  p {
    margin-top: -20px;
  }

  button {
    font-family: "Play", sans-serif;
    background-color: $colorCoreYellow;
    transition: all 1s;
    border: 0px;
    &:hover {
      transition: all 1s;
      background-color: $colorHoverYellow;
      color: black;
    }
  }
}

@keyframes magnifierMove {
  0% {
    transform: translateX(30px);
  }
  40% {
    transform: translateX(-40px);
  }
  60% {
    transform: translateX(50px);
    transform: translateY(30px);
  }
  100% {
    transform: translateX(-50px);
    transform: translateY(-20px);
  }
}

@media (max-width: 454px) {
  .preload .preload-text {
    font-size: 20px;
  }

  .app {
    padding: 10px;
  }
}

@media (max-width: 383px) {
  h1 {
    font-size: 15px;
  }

  .buttons {
    display: flex;
    flex-direction: column;

    button {
      margin: 2px 3px;
    }
  }
}

@media (max-width: 371px) {
  .preload .preload-text span {
    display: none;
  }
}

@media (max-width: 302px) {
  .detect-load .detect-load-text span {
    display: none;
  }

  .detect-load .detect-load-text h5 {
    font-size: 10px;
  }
}

@media (max-width: 234px) {
  .error.modal {
    padding: 30px;
    p {
      font-size: 13px;
    }
    button {
      font-size: 10px;
    }
    img {
      width: 80px;
    }
  }
}
