body {
  background-color: #b2d8fe;
}

nav {
  background-color: #ffb134;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 30px;
}
nav .logo img {
  width: 200px;
}
nav .profile img {
  width: 100px;
}

.alphabet-lists {
  padding: 50px;
  display: grid; /* 1 */
  grid-template-columns: repeat(auto-fill, 150px); /* 2 */
  grid-gap: 30px; /* 3 */
  justify-content: space-between; /* 4 */
}
.alphabet-lists .alphabet-card {
  width: 150px;
  height: 220px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 15px 11px -8px rgba(0, 0, 0, 0.24);
  padding: 0;
}
.alphabet-lists .alphabet-card:hover {
  cursor: pointer;
  animation: float 1s infinite alternate-reverse;
}
.alphabet-lists [data-alphabet=a],
.alphabet-lists [data-alphabet=h],
.alphabet-lists [data-alphabet=r],
.alphabet-lists [data-alphabet=y] {
  background-color: #dd9ec1;
}
.alphabet-lists [data-alphabet=b],
.alphabet-lists [data-alphabet=i],
.alphabet-lists [data-alphabet=m],
.alphabet-lists [data-alphabet=q] {
  background-color: #85b547;
}
.alphabet-lists [data-alphabet=c],
.alphabet-lists [data-alphabet=o],
.alphabet-lists [data-alphabet=s] {
  background-color: #f3cc17;
}
.alphabet-lists [data-alphabet=d],
.alphabet-lists [data-alphabet=k],
.alphabet-lists [data-alphabet=n],
.alphabet-lists [data-alphabet=t],
.alphabet-lists [data-alphabet=v] {
  background-color: #c94f3a;
}
.alphabet-lists [data-alphabet=e],
.alphabet-lists [data-alphabet=g],
.alphabet-lists [data-alphabet=l],
.alphabet-lists [data-alphabet=p],
.alphabet-lists [data-alphabet=w] {
  background-color: #5c97d1;
}
.alphabet-lists [data-alphabet=f],
.alphabet-lists [data-alphabet=u],
.alphabet-lists [data-alphabet=x] {
  background-color: #da9a20;
}
.alphabet-lists img {
  width: 120px;
}
.alphabet-lists .alphabet-card:not(.completed) { /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.alphabet-lists .alphabet-card.completed {
  filter: none !important;
}

.modal-content {
  border: 4px solid #25c7d5;
  background-color: #fefbf4;
}

.modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.modal-body .left img {
  width: 380px;
  transform: translateY(-40px);
}
.modal-body .right {
  width: 960px;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.modal-body .web-cam {
  width: 100%;
  height: 90%;
}
.modal-body .capture button {
  border-radius: 20px;
  padding: 2px 20px;
  background-color: #25c7d5;
  border: 0px;
}
.modal-body .effect {
  opacity: 0.5;
  transition: all 100ms ease;
}

.canvas {
  display: none;
}

.modal-footer {
  border-top: 0px;
}

.character {
  position: absolute;
  bottom: -30px;
  left: -80px;
}
.character .bubble {
  animation: float 1.5s infinite alternate-reverse;
  position: relative;
  margin: 0;
  padding: 1.2rem 1.5rem 1rem;
  max-width: 15rem;
  letter-spacing: 1px;
  line-height: 1.35;
  font-size: 13px;
  text-align: center;
  background-color: #25c7d5;
  border-radius: 50%;
  left: 200px;
  bottom: -100px;
}
.character .bubble::before {
  position: absolute;
  bottom: -1.25rem;
  left: 1rem;
  content: "";
  width: 10rem;
  height: 3rem;
  border-radius: 50%;
  background-color: transparent;
  box-shadow: inset -1.5rem -1rem 0 #25c7d5;
  transform: rotate(-20deg);
}
.character .bubble_text {
  margin: auto;
  position: relative;
  z-index: 1;
}

.feedback {
  position: relative;
}
.feedback .character-face {
  position: absolute;
  width: 200px;
  top: -140px;
  z-index: -1;
  left: 135px;
}
.feedback .modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
.feedback .modal-body h5 {
  font-size: 30px;
}

@keyframes float {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=games.css.map */